!!! 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")
    link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')

    title= title

    style
      html, body { margin: 0; }
      canvas { display: block; }

    block scripts
  body
    block content